@tailwind base;
@tailwind components;
@tailwind utilities;

/* Importar la fuente Raleway */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

/* Fuente general */
body {
    font-family: 'Raleway', sans-serif;
}

/* Hero Section Background */
.hero-background {
    background-image: url('assets/fondo-pangeo.png'); /* Ruta de la imagen de fondo */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(30%); /* Oscurece solo la imagen de fondo */
    z-index: 1;
}

/* Hero Section */
.hero-section .text-center {
    position: relative;
    z-index: 10; /* El contenido estará siempre sobre la imagen */
}

/* Estilo para títulos */
h1, h2, h3 {
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-size: 60px;
    font-weight: 600;
}

h2 {
    font-size: 48px;
    font-weight: 600;
}

h3 {
    font-size: 36px;
    font-weight: 700;
}

/* Texto general */
p, a {
    font-size: 18px;
    font-weight: 400;
}

/* Estilo para subtítulos */
.subtitle {
    font-size: 48px; /* Tamaño para subtítulos */
    font-weight: 600; /* Semibold */
}

/* Subtítulos específicos en Hero */
.hero-subtitle {
    font-size: 30px; /* Tamaño específico */
    font-weight: 300; /* Medium */
}



/* Texto general */
p, a, .content-text {
    font-size: 18px; /* Texto general */
    font-weight: 400; /* Regular */
}



/* Opciones de navegación */
nav a {
    font-size: 22px;
    color: white;
    font-weight: 400;
    transition: color 0.2s ease-in-out;
}

nav a:hover {
    color: #d1d5db;
}

#navbar {
    transform: translateY(0); /* Por defecto, navbar visible */
    transition: transform 0.3s ease-in-out; /* Transición suave */
}


#navbar.hidden-navbar {
    transform: translateY(-100%); /* Ocultar navbar */
    transition: transform 0.3s ease-in-out; /* Transición suave */
}

